.chart-icon {
    background-image: url( images/silk/chart_organisation.gif) !important;
}

.line-chart-icon {
    background-image: url( images/silk/chart_curve.gif ) !important;
}

.bar-chart-icon {
    background-image: url( images/silk/chart_bar.gif ) !important;
}

.pie-chart-icon {
    background-image: url( images/silk/chart_pie.gif ) !important;
}

.income-chart-icon {
    background-image: url( images/silk/chart_curve.gif ) !important;
}

